<div style="padding: 0 !important">
  <div class="row">
    <div class="col">
      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Name" name="name" #name="ngModel" [(ngModel)]="productService.name" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <textarea matInput placeholder="Description" name="description" #description="ngModel" [(ngModel)]="productService.description" required></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Price" type="number" name="price" #price="ngModel" class="example-right-align"[(ngModel)]="productService.price" required>
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button mat-stroked-button color="primary" class="btn">Publish</button>
          </div>
          <div class="col-6">
            <button mat-stroked-button class="btn" (click)="resetForm(productForm)">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  
