<mat-card class="card">
  <mat-card-header>
    <div *ngIf="fromMainGrid" mat-card-avatar></div>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="fromMainGrid">{{ item.email }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="'../../assets/productImgs/{{ item.image }}" />
  <mat-card-content>
    <h4 *ngIf="fromMainGrid">{{ item.price }} €</h4>
    <p *ngIf="fromMainGrid">
      {{ item.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <i
      *ngIf="item.favourite == false"
      class="material-icons margin hand"
      (click)="setFavourite(item)"
      >favorite_border</i
    >
    <i
      *ngIf="item.favourite == true"
      class="material-icons margin hand favourite-icon"
      (click)="setFavourite(item)"
      >favorite</i
    >
  </mat-card-actions>
</mat-card>
