.grid-container {
  padding: 20px;
}

.search-input-container {
  width: 80%;
}

.search-input {
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field {
  margin-top: 100px;
  margin-left: 20px;
}

.filters {
  margin-left: 20px;
  font-weight: bold;
}

.filters-value {
  font-weight: normal;
}
