<h1 mat-dialog-title>Favourites</h1>

<mat-form-field>
  <input matInput [(ngModel)]="searchText" (ngModelChange)="filterItems()" placeholder="Search" />
</mat-form-field>
<mat-dialog-content>
  <ng-container *ngFor="let item of filteredItemsList">
    <div *ngIf="item.favourite == true">
      <div class="row">
        <div class="col-12 title-container">
          <span>{{ item.title }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 aligner">
          <img mat-card-image src="'../../assets/productImgs/{{ item.image }}" />
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="text-align: center">
          <i class="material-icons hand" (click)="setFavourite(item)">delete</i>
        </div>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>